<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1><%= t('order_email.welcome', name: @order.first_name) %></h1>
<p>
  <%= t('order_email.confirmation.body', url: order_url(@order)).html_safe %>
</p>

</body>
</html>