<% @products.each do |product| %>
  <div class="container">
    <div class="row well">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <%= image_tag product.product_image.url(:original), class: "img-responsive" %>
      </div>
      <div class="col-d-8 col-sm-6 col-xs-12">
        <%= content_tag(:p, product.description) %>
      </div>
    </div>
  </div>
<% end %>