<div class="sf-flash">
  <% flash.each do |key, value| %>
      <%= content_tag :div, class: "alert alert-#{key} text-center" do %>
          <%= content_tag :strong, value %>
      <% end %>
  <% end %>
</div>
