<footer class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= login_link %>
      </li>
  
      <li>
        <%= link_to "Kontakt", '#' %>
      </li>
    </ul>
  </div>
</footer>